In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('desafio1.csv')

In [9]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [21]:
df.shape

(7000, 12)

In [ ]:
{"SC": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, 
 "RS": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, 
 "PR": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}
}

In [16]:
df_rs = df[df['estado_residencia'] == "RS"]
df_sc = df[df['estado_residencia'] == "SC"]
df_pr = df[df['estado_residencia'] == "PR"]

In [17]:
print(df_rs.shape, df_sc.shape, df_pr.shape)

(1750, 12) (3519, 12) (1731, 12)

In [34]:
rs_mode = int(df_rs['pontuacao_credito'].mode())
rs_median = df_rs['pontuacao_credito'].median()
rs_mean = df_rs['pontuacao_credito'].mean()
rs_std = df_rs['pontuacao_credito'].std()

sc_mode = int(df_sc['pontuacao_credito'].mode())
sc_median = df_sc['pontuacao_credito'].median()
sc_mean = df_sc['pontuacao_credito'].mean()
sc_std = df_sc['pontuacao_credito'].std()

pr_mode = int(df_pr['pontuacao_credito'].mode())
pr_median = df_pr['pontuacao_credito'].median()
pr_mean = df_pr['pontuacao_credito'].mean()
pr_std = df_pr['pontuacao_credito'].std()

In [35]:
subm = {"SC": {"moda": sc_mode, "mediana": sc_median, "media": sc_mean, "desvio_padrao": sc_std}, 
 "RS": {"moda": rs_mode, "mediana": rs_median, "media": rs_mean, "desvio_padrao": rs_std}, 
 "PR": {"moda": pr_mode, "mediana": pr_median, "media": pr_mean, "desvio_padrao": pr_std}, 
}

In [36]:
import json
with open('dados.json', 'w') as json_file:
    json.dump(subm, json_file, indent=4)